h1{
    padding: 16px;
    text-align: center
    font-style italic;
}

h2{
    padding: 16px;
    text-align: center
}
img{
    width: 600px;
    height: 350px;
    image-resolution: 20px;
    margin: auto;
    border-radius:10px; color: solid black
    
}